// custom SCSS (or CSS) goes here

b,
strong {
  font-weight: bold;
  color: $bold-color;
}

.avatar {
  height: 1.8em;
  width: 1.8em;
  scale: 1;
  
  // float: left;
  // margin-top: -13px;
  // border-radius: 0.2em;
  // margin-right: 0.5em;
}

.theme-toggle-button{
  display: flex;
  height: $sp-9;
  width: $sp-9;
  padding: $gutter-spacing-sm;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  cursor: pointer;
  vertical-align: middle;
  background-color: transparent;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  
  &.dark-button{
    background-image: url("assets/images/moon.svg");
  }
  
  &.light-button{
    background-image: url("assets/images/sun.svg");
  }
}

.stackedit--toc ul {
  background-image:none;
  padding: 0;
  margin-left:20px;
}

.stackedit--toc ul a {
    background-image:none;
    margin: 0rem 0;
    padding: 0rem 1rem;
}

.stackedit--toc ol {
    background-image:none;
    margin-left: -20px;
}

.stackedit--toc ul ul {
    background-image:none;
    color: #888;
}

.stackedit--toc ul ul a {
    background-image:none;
    margin: 0;
    padding: 0.1rem 1rem;
}

.stackedit--toc li {
    background-image:none;
    display: block;
}

.stackedit--toc a {
    background-image:none;
    display: block;
    color: inherit;
    text-decoration: none;
}

.stackedit--toc a:active {
    background-image: none;
    color: $toc-color-active;
}

.stackedit--toc a:hover {
    background-color: $toc-hover !important;
    background-image:none !important ;
    color: $toc-color-active !important;
}

.stackedit-scrolled{
    background-color: $toc-hover !important;
    background-image:none !important ;
    color: $toc-color-active !important;
}

.stackedit-clicked{
    background-color: $toc-hover !important;
    background-image:none !important ;
    color: $toc-color-active !important;
}

.grid {
    grid-template-columns: 1fr 1fr;
}

.center-full {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.center-eighty {
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.center-seventy {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}

.center-sixty {
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
}

.center-fifty {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.center-forty {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}

.center-thirty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.center-twenty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.center-ten {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.stackedit--left {
    grid-column: 0;
    grid-row: 1;
    display: none;
    width: $stackedit-width;
    padding: 1.5rem 0rem;
    left: 0;
    overflow: visible;
    z-index: 1;
    font-family: "Helvetica Neue", $body-font-family;
}

.stackedit--left--inner {
overflow-y: scroll;
height: 75vh;
}

@media (min-width: 1060px) {
.stackedit--left {
  display: block;
}
}

/* Style the buttons */
.toc-btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: $collapsible-font-color;
  border: 1px solid $content-border;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 2px solid $link-color !important;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  text-align: left;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 20pt;
  padding-left: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//   .active,
.collapsible.active {
background-color: $collapsible-bg-color;
border-bottom-right-radius: 0px;
border-bottom: none;
}

.collapsible:hover{
background-color: $collapsible-bg-color;
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 10px;
display: none;
overflow: hidden;
color: $collapsible-font-color;
border-left: 2px solid $link-color !important;
border-right: 1px solid $content-border;
border-bottom: 1px solid $content-border;
border-bottom-right-radius: 6px;
}

// Button for showing all collapsible
.btn-collapsible-toggle{
  padding: 10px 16px;
  background-color: $collapsible-bg-color;
  cursor: pointer;
  text-align: center;
  width: 20%;
}

