---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>

  <script>
    var currentTheme = localStorage.getItem('theme');
    if (currentTheme === 'dark'){
      jtd.setTheme('dark');
    }
    else{
      jtd.setTheme('light');
    }
  </script>

  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% include components/sidebar.html %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
        {% include components/breadcrumbs.html %}

      <div style="display: grid;">
          <div id="main-content" class="main-content" style="grid-column: 1; grid-row: 1; grid-auto-rows: min-content; display: grid;">
            {% if site.heading_anchors != false %}
                {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
              {% else %}
                {{ content }}
              {% endif %}

            {%- include components/footer.html -%}
          </div>

          <div class="stackedit__left">
            <div style="position: sticky; position: -webkit-sticky; top: 60px; align-self: start;">
                <div class="stackedit__left__inner">
                  <div class="stackedit__toc text-zeta">
                      <ul>
                          <script>
                              if (document.getElementById("markdown-toc") != null){
                                document.write(document.getElementById("markdown-toc").innerHTML);
                                document.getElementById("markdown-toc").style.display="none";
                              }
                          </script>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>
  

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
